VITE_API_URL=http://localhost:4000/api
VITE_POCKETBASE_URL=http://127.0.0.1:8090

PORT=4000
JWT_SECRET=change_this_secret
SESSION_SECRET=session_secret_key

POCKETBASE_ADMIN_EMAIL=admin@sistema.local
POCKETBASE_ADMIN_PASSWORD=AdminSecure123

GOOGLE_SHEET_ID=1sNOZaDhhkCMRcY2u038tlKHQXS02dSQD3jdTwcQD22Q
GOOGLE_SHEET_NAME=Inventario

CONSULTA_QR_PUBLICA=true
